.dib {
    display: inline-block;
}
.dn{
	display: none;
}
.l {
    float: left;
}

.r {
    float: right;
}

.clear {
    clear: both;
}

.h50 {
    height: 50px;
}

.h40 {
    height: 40px;
}

.h105 {
    height: 105px;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.mt10 {
    margin-top: 10px;
}

.w100 {
    width: 100px;
}
.w400 {
    width: 400px;
}

.m-3-10 {
    margin: 3px 10px;
}

.ptr {
    cursor: pointer;
}

.border_g {
    border: 2px solid #1ABC9C !important;
}
.rotate{
	transform:rotate(0deg);
	transition:transform 0.5s;
}
.rotate180{
	transform:rotate(180deg);
	/*-webkit-animation:r180 0.5s;*/
}